@charset "utf-8";

// Color Scheme
// Cyan Scheme
$cyan: #3db3ad;
$cyan-dark: #0b2c29;
$cyan-dark-2: #258b83;
$cyan-light: #c1e1e2;
$cyan-lighter: #eff5f5;

//Pink Scheme
$pinkish: #af357e;
$pinkish-2: #f02ba1;
$pinkish-dark: #3f102c;
$pinkish-hover: rgb(206, 75, 153);
$pinkish-dark-hover: #521a3c;

//Orange Scheme
$orangish: #c76820;;
$orangish-2: #e87825;
$orangish-dark: #47260c;
$orangish-hover: #eb7c28;;
$orangish-dark-hover: #6b3811;

//Blue Scheme
$bluish: #02516e;
$bluish-2: #006e96;
$bluish-dark: #002735;
$bluish-hover: #0079a5;
$bluish-dark-hover: #003d53;

// Special Scheme
$green-success: #18882a;
$red-danger: #99100b;
$yellow-warning: #d6a606;

// Set your brand colors
$family-primary: '"ofelia-display", sans-serif';
$size-1: 5rem;
$size-2: 3.1rem;
$size-3: 4rem;
$size-4: 1.8rem;
$primary: $cyan-dark;
$info: $cyan;
$dark: $cyan-dark-2;

$navbar-padding-vertical: 0px;
$navbar-item-border-radius: 10px;

$tabs-toggle-link-active-background-color: $cyan-dark;
$tabs-toggle-link-active-border-color: $cyan-dark;

// Path to Bulma's sass folder
@import "bulma/sass";

// Import the Google Font
@import url("https://use.typekit.net/mbk0rar.css");

@import 'bulma-social/css/all.min.css';

.hero-custom .navbar-item.is-active{
  color: $cyan-dark-2;
  background-color: transparent;
}

.hero-body {
  margin-top: 70px;
}

.no-margin {
  margin: 0px
}

.tabs .tab-item.cyan-tab.is-active {
  color: $cyan-dark-2;
}

.tabs .tab-item.pink-tab.is-active {
  color: $pinkish;
}

.tabs .tab-item.orange-tab.is-active {
  color: $orangish;
}

.tabs .tab-item.blue-tab.is-active {
  color: $bluish;
}

// Conditional styling when .pink class is present
.pink-tab.is-toggle ul li.is-active a {
  background-color: $pinkish-dark !important;
  border-color: $pinkish-dark !important;
}

// Conditional styling when .orange class is present
.orange-tab.is-toggle ul li.is-active a {
  background-color: $orangish-dark !important;
  border-color: $orangish-dark !important;
}

// Conditional styling when .blue class is present
.blue-tab.is-toggle ul li.is-active a {
  background-color: $bluish-dark !important;
  border-color: $bluish-dark !important;
}

.navbar-item img {
  margin-bottom: 5px;
  margin-right: 8px;
}

.navbar, .navbar .container {
  min-height: auto;
  height: 70px;
}

.navbar-brand {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.navbar-brand {
  height: 100%;
}

.navbar-burger {
  color: rgb(192, 192, 192) !important;
}

.piano-container div {
  display: flex;
  justify-content: center;
}

.custom-margin-1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.custom-paragraph {
  line-height: 1.5;
  letter-spacing: .2px;
}

.key-display-margin {
  margin-bottom: -10px;
}

.pink {
  color: #d33393;
}

.pink-text {
  color: $pinkish-2;
}

.dark-pink-text {
  color: $pinkish-dark;
}

.dark-pink-background {
  background-color: $pinkish-dark
}

.pink-background {
  background-color: $pinkish
}

button.pink-background:hover {
  background-color: $pinkish-hover
}

button.dark-pink-background:hover {
  background-color: $pinkish-dark-hover
}

.orange {
  color: #e87825;
}

.orange-text {
  color: $orangish-2;
}

.dark-orange-text {
  color: $orangish-dark;
}

.dark-orange-background {
  background-color: $orangish-dark
}

.orange-background {
  background-color: $orangish
}

button.orange-background:hover {
  background-color: $orangish-hover
}

button.dark-orange-background:hover {
  background-color: $orangish-dark-hover
}

.blue {
  color: #00668c
}

.blue-text {
  color: $bluish-2;
}

.dark-blue-text {
  color: $bluish-dark;
}

.dark-blue-background {
  background-color: $bluish-dark
}

.blue-background {
  background-color: $bluish
}

button.blue-background:hover {
  background-color: $bluish-hover
}

button.dark-blue-background:hover {
  background-color: $bluish-dark-hover
}

.green {
  color: #185a54
}

.title span {
  font-weight: 1000;
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-loading.is-loading::after {
  border-color: transparent transparent black black;
}

.image {
  max-height: 600px;
}

.column {
  max-width: 1000px;
}

.chord-text {
  width: 50vw;
  max-width: 500px;
}

.chord-arrow {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

@media screen and (max-width: 480px) { 
  .chord-arrow {
    margin-right: 1rem;
    margin-left: 1rem;
  }
} 