@charset "utf-8";

// Color Scheme
$cyan-dark: #0b2c29;
$cyan-dark-2: #258b83;
$cyan: #3db3ad;
$cyan-light: #c1e1e2;
$cyan-lighter: #eff5f5;
$green-success: #18882a;
$red-danger: #99100b;
$yellow-warning: #d6a606;

// Set your brand colors
$family-primary: '"ofelia-display", sans-serif';
$size-1: 5rem;
$size-2: 3.1rem;
$size-3: 4rem;
$primary: $cyan-dark;
$info: $cyan;
$dark: $cyan-dark-2;

$navbar-padding-vertical: 0px;
$navbar-item-border-radius: 10px;

$tabs-toggle-link-active-background-color: $cyan-dark;
$tabs-toggle-link-active-border-color: $cyan-dark;

// Path to Bulma's sass folder
@import "bulma/sass";

// Import the Google Font
@import url("https://use.typekit.net/mbk0rar.css");

@import 'bulma-social/css/all.min.css';

.hero-custom .navbar-item.is-active{
  color: $cyan-dark-2;
  background-color: transparent;
}

.tabs .tab-item.is-active {
  color: $cyan-dark-2;
}

.navbar-item img {
  margin-bottom: 5px;
  margin-right: 8px;
}

.navbar, .navbar .container {
  min-height: auto;
  height: 70px;
}

.navbar {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.navbar-brand {
  height: 100%;
}

.navbar-burger {
  color: rgb(192, 192, 192) !important;
}

.piano-container div {
  display: flex;
  justify-content: center;
}

.custom-margin-1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.custom-paragraph {
  line-height: 1.5;
  letter-spacing: .2px;
}

.pink {
  color: #d33393;
}

.orange {
  color: #e87825;
}

.blue {
  color: #00668c
}

.green {
  color: #185a54
}

.title span {
  font-weight: 1000;
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
